/*Reset simplificado de estilos */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

/*Variáveis e regras básicas*/
:root {
  font-family: "Inter", sans-serif;
  --backgroundImagem: url(../assets/bg-mobile.jpg);
  --textColor: white;
}

/*Conteúdo*/
body {
  background: var(--backgroundImagem) no-repeat top center/cover;
  color: var(--textColor);
}

footer {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

#container {
  width: 360px;
  margin: 56px auto;
}
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
#avatar {
  background-image: url(../assets/avatar.png);
  background-position: center;
  background-size: cover;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 124px;
  height: 124px;
  padding: 24px 0 8px 0;
}
#profile p {
  padding: 0px 0 24px 0;
}
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255);
  background-image: url(../assets/moon-stars.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 01;
  transform: translateY(-50%);
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

#links ul {
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}
#links li {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 16px;
  border-radius: 8px;
}
#socialLinks {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 24px auto;
}
#socialLinks a {
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 8px;
}
