/*Reset simplificado de estilos */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

/*Variáveis e regras básicas*/
:root {
  font-family: "Inter", sans-serif;
  --backgroundImagem: url(../assets/bg-mobile.jpg);
  --textColor: white;
}

/*Conteúdo*/
body {
  background: var(--backgroundImagem) no-repeat top center/cover;
  color: var(--textColor);
}

footer {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

footer a {
  color: rgb(255, 200, 0);
  font-weight: 700;
}

footer a:visited {
  color: rgb(255, 240, 180);
}

footer a:hover {
  color: rgb(255, 200, 150);
}

#container {
  width: 360px;
  margin: 56px auto;
}
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
#profile h1 {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
#profile span {
  color: rgb(255, 208, 0);
  font-weight: 900;
}

#avatar {
  background-image: url(../assets/avatar.png);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(255, 200, 0);
  border-radius: 50%;
  width: 124px;
  height: 124px;
  margin-bottom: 24px;
}
#switch {
  position: relative;
  width: 64px;
  margin: 24px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255);
  background-image: url(../assets/moon-stars.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 01;
  transform: translateY(-50%);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
}

#switch button:hover {
  border: 1px solid rgb(255, 200, 0);
  color: rgb(255, 200, 0);
  transition-property: background-color, border;
  transition-duration: 0.2s;
}
#switch button:hover + span {
  background: rgba(225, 200, 0, 0.09);
  border: 1px solid rgb(255, 200, 0, 0.5);
  transition-duration: 0.2s;
  transition-property: background-color;
}

.divisor {
  border: 1px solid rgba(255, 255, 255, 0.05);
  width: 50%;
  margin: 8px auto;
}

#links ul {
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

#links li {
  padding: 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-duration: 0.5s;
  transition-property: background-color;
}

#links li:hover,
#socialLinks a:hover {
  background: rgba(225, 200, 0, 0.03);
  border: 1px solid rgb(255, 200, 0, 0.3);
  color: rgb(255, 200, 0);
  transition-property: background-color, border;
  transition-duration: 0.5s;
}
#socialLinks {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 24px auto;
}
#socialLinks a {
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 8px;
}
